.app-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // margin: auto 0;
    // margin-left: 0px;
    // margin-right: 0px;
    background-color: #1976d2;


    // max-width: 1280px;
    // margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;

    .header-container{
        display: flex;
        align-items: center;
        justify-content: space-around;

        .search-container{

            .logo-container{
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 0.5vw;
                @media (max-width: 800px) {
                    font-size: 1.2vw;
                    
                }
            //    font-size: min(3vw, 36px);
                
    
                .icon{
                    height: 4.5vw;
                }
            }
        }


        .app-nav{
            
            display: flex;
            justify-content: space-around;
            gap: 1.5em;
            padding: 15px;

            .active{
                border-bottom: 01px solid var(--border);
                color: rgb(48, 22, 114);
                box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
            }

            a{
                padding: 5px;
                color: white;
                background-color: #2683e0;
                // border: 1px solid var(--border);
                box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;                border-radius: 5px;
            }

            &::after{
                position: relative;
                top: 0px;
                right: 10px;
                content: '';
                height: 35px;
                width: 3px;
                border-radius: 5px;
                background-color: rgba(26, 26, 26, 0.376);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;         
               }
        }
        
        .login-container{
            display: flex;
            align-items: center;
            justify-items: center;
            gap: 1em;

            a{
                color: white;
            }
        }
        
        button{
            margin: 10px;
        }
        .cart-button-container{
            display: flex;

            .cart-button{
                z-index: 0;
            }
            button{
                margin: 15px;
            }
        }
        .cart-quantity{
            position: relative;
            /* content: ''; */
            /* bottom: 35px; */
            /* left: 15px; */
            right: 15px;
            justify-self: start;
            z-index: 2;
        
            &::before{
                position: absolute;
                content: '';
                top: 2px;
                left: -5px;
                height: 20px;
                width: 20px;
                background-color: var(--red);
                z-index: -1;
                border-radius: 25px;
            }


        }


    }

}

.logo-container{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.5vw;
    @media (max-width: 800px) {
        font-size: 1.2vw;
        
    }
//    font-size: min(3vw, 36px);
    

    .icon{
        height: 4.5vw;
    }
}

