.cart-container{

    position: absolute;
    // top: 5em;
    inset-inline-end: 1em;
    background-color: var(--border);
    border: 2px solid var(--text);

    height: 500px;
    width: 400px;
    z-index: 3;

    .x-button{
        position: absolute;
        inset-inline-end: 1em;
        top: 1em;
        padding: 5px;
        border-radius: 5px;
    }

    .games-in-cart-container{
        display: flex;
        flex-direction: column;
        height: 300px;
        overflow-y: auto;
        /* justify-content: space-between; */


        .game-in-cart-container{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            /* justify-content: space-between; */
            align-items: center;
            justify-items: center;
        
            background-color: rgb(51, 51, 51);
            border: 1px solid var(--text);
            width: 100%;

            &:nth-of-type(2n){
                background-color: rgb(97, 97, 97);
            }

            .game-text{
                min-width: 200px;
                margin: 0.5em;
                text-align: start;
                overflow: hidden;
            }

            .game-quantity{
                width: 30px;
            }

            img{
                width: 50px;
                height: auto;
                margin: 0.5em;
            }

            span{
                margin:0.5em;
                color: var(--text);
            }


        }


    }
.sum-container{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    margin: 1em;
}
}