.game-index-user-interface{
    display: flex;
    justify-items: center;
    align-items: center;

    justify-content: space-around;

    position: absolute;
    top: 200px;
    left: 0px;
    right: 0px;
    .sort-container{
        /* height: 100px; */
        /* width: 200px; */
        background-color: var(--text);
        padding: 15px;
        border-radius: 15px;
        @media (max-width:800px) {
            display: none;
        }

    }
    @media (max-width:800px) {
        // position: relative;

        top: 8em;
    }
}

.games-container{
    max-width: 1280px;
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;

    gap: 25px;

    align-items: center;
    justify-items: center;

    @media (max-width:500px) {
        display: block;
    }

    .game-container{
        @media (max-width:800px) {
            // width: 50px;
            align-self: center;
        }

        width: 150px;
        height: fit-content;
    
        cursor: pointer;
     &:hover .hover-shadow{
        opacity: 1;

    }
        &:hover .game-name-container{
            opacity: 1;
    
        }

        .game-name-container{

            background-color: var(--text);
            border: 1px solid var(--border);
        
        
            width: 120px;
            position: absolute;
        
        
            margin: 5px;
            padding: 5px;
        
            border-radius: 25px;
            z-index: 2;
        
            opacity: 0;
            transition: 0.3s;

            z-index: 2;

            .game-name{
                top: 100px;
                
                max-width: 150px;
            }
        }
        .game-cover{
            width: 150px;
            z-index: 0;
            @media (max-width:800px) {
                // width: 50px;
                align-self: center;
            }
        }
    }
}

.hover-shadow{
    height: auto;
    height: fit-content;
    width: 150px;
    background-color: var(--hover-shadow);
    background-color: rgba(0, 0, 0, 0.467);
    z-index: 1;

    position: absolute;

    opacity: 0;
    transition: 0.3s;

    .game-cover{
        width: 150px;
        z-index: 0;
        opacity: 0;
    }
}
.page-container{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;

    position: absolute;
    bottom: 3em;
    left: 0;
    right: 0;

    @media (max-width:605px) {
        position: fixed;
        display: flex;
        bottom: 0px;
        // left: 0px;
        // right: 0px;
        width: 75%;
    }
}