.game-index-user-interface{
    display: flex;
    justify-items: center;
    align-items: center;

    justify-content: space-around;
}

.games-container{
    max-width: 1280px;
    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;

    gap: 25px;

    align-items: center;
    justify-items: center;


}

.game-container{

    width: 150px;
    height: fit-content;


    cursor: pointer;
}

.hover-shadow{
    height: auto;
    height: fit-content;
    width: 150px;
    background-color: var(--hover-shadow);
    background-color: rgba(0, 0, 0, 0.467);
    z-index: 1;

    position: absolute;

    opacity: 0;
    transition: 0.3s;
}
.hover-shadow>.game-cover{
    opacity: 0;
}
.game-container:hover .hover-shadow{
    opacity: 1;
}

.game-container:hover .game-name-container{
    opacity: 1;
}



.game-name-container{

    background-color: var(--text);
    border: 1px solid var(--border);


    width: 120px;
    position: absolute;


    margin: 5px;
    padding: 5px;

    border-radius: 25px;
    z-index: 2;

    opacity: 0;
    transition: 0.3s;
}

.game-name{
    top: 100px;
    
    max-width: 150px;
}



.game-cover{
    width: 150px;
    z-index: 0;
}

.page-container{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
}