.section-container.game-details{
    display: flex;
    flex-direction: column;

    justify-items: center;
    align-items: center;
    gap: 1em;
}

.labels-container>span{
padding: 5px;
}

.unavailable{
    background-color: var(--high-importance);
    color: var(--text);
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--mid-importance);

    position: absolute;
    rotate: 10deg;
}

.back-button{
    /* position: absolute; */
    /* top: 250px; */
    /* inset-inline-start: 250px; */
}

.game-details-cover{
    width: 250px;
}