

.filtering-container>input[type='checkbox']{
    display: none;
}
.transparent-checkbox>input[type='checkbox']{
    display: none;
}

.transparent-checkbox>*{
    cursor: pointer;
}

.is-filtering-checkbox:checked ~.game-filter{
    inset-inline-start: 0px;
}

.is-filtering-button:hover{
    cursor: pointer;
    /* background-color: var(--green); */
}


.game-filter{
    display: flex;
    flex-direction: column;
    gap: 1em;

    background-color: var(--hover-back-shadow);
    border: solid 2px var(--text);

    position: fixed;
    top: 200px;
    inset-inline-start: -400px;

    width: 350px;


    transition: 0.3s;
    z-index: 3;
}

.x-button{
    position: absolute;
}
.x-button:hover{
    cursor: pointer;
    background-color: var(--red);
}

.text-container{
    display: flex;
    gap: 5px;
    margin-inline-start: 25px;
    align-items: center;
    justify-items: center;
}

.price-container{
    display: flex;
    gap: 5px;
    margin-inline-start: 25px;
    align-items: center;
    justify-items: center;
    
}

.transparent-checkbox>label{
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 5px;
    
    
}

.transparent-checkbox:has(input:checked) > label{
    color: var(--border);
    background-color: var(--high-importance);
}
.company-container:has(input:checked) > label{
    background-color: var(--high-importance);
}

.companies-container{


    margin: 0 auto;

    display: flex;
    gap: 1em;
}

.labels-container{

    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;


}