.nav-bar-container{
    position: fixed;
    // top: 0em;
    // left: -15em;

    display: flex;
    flex-direction: column;
   
    background-color: rgba(0, 0, 0, 0.449);
    z-index: 3;
    width: 100vw;
    height: 100vh;
    // display: none;
    
    .app-nav{
        display: flex;
        flex-direction: column;
        font-size: 2em;
        gap: 15px;

        position: absolute;
        
        // width: 150px;
        background-color: var(--blue);
        padding: 15px;
    
        transition: 0.4s;
        
        a{
            color: var(--border);
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            // padding: 15px;
            width: 200px;
        }
    

    }
}