#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.gamed {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.section-container{
  margin-top: 150px;
  padding: 15px;
}

:root {
  /* --clr1: #2b2b2b; */
  --text: #E0E0E0;
  --secondary-text: #B3B3B3;
  --links: #BB86FC;

  --border: #282828;
  --hover-back-shadow: #333333;

  --green: #1DB954;
  --red: #CF6679;
  /* --gray3: rgb(44, 44, 44); */

  --light-importance: #96ceb4;
  --mid-importance: #ffcc5c;
  --high-importance: #d96459;

} 


@import "assets/css/main.css"