@import 'index.css';
@import 'assets/css/about.scss';
@import 'assets/css/aboutTeam.scss';
@import 'assets/css/AppHeader.scss';
@import 'assets/css/Cart.scss';
@import 'assets/css/Home.scss';
@import 'assets/css/GameDetails.scss';
@import 'assets/css/GameEdit.scss';
@import 'assets/css/GameIndex.scss';
@import 'assets/css/UserMsg.scss';
@import 'assets/css/LoginSignup.scss';
